body{
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background:#344051;

}

.logo {
    margin-top: 15px;
    color: white;
    font-size: 29px;
    line-height: 60xp;
    padding-left: 20%;
    float: left;
}

.menu {
    float: left;
    padding-left: 20%;
}

.menu li {
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../images/vader.png) 100% 100%/auto 75% no-repeat, url(../images/back-ground-title.jpg) center/cover no-repeat ;
    box-shadow: 1px -10px 10px 1px rgba(0, 0, 0, 0.4) inset; 

}

.titleConteiner{
    float: left;
    margin: 15% 0px 0px 15%;
    color: #2c384a;
    text-shadow: rgb(138, 138, 138) 1px 1px 10px;
}


.titleConteiner h1{
    font-size: 60px;
    font-weight: bold;
}

.titleConteiner h4{
    font-size: 30px;
    font-weight: 30px;
    color: #79819d;
    text-shadow: rgb(138, 138, 138) 1px 1px 10px;
}

.titleConteiner input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin-top: 58px;
    margin-right: 14px;
    margin-left: 14px;
    margin-bottom: 600px;
}

/*-------Обо мне--------*/
.aboutMe{
    float: left;
    width: 100%;
    text-align: center;
}

.aboutMe h2 {
    display:inline-block;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    border-bottom: 4px solid #d17700;
    
}
.imgVader{
    
    width: 100%;
    padding: 0px 43% 0px 43%;
    margin: 40px 0px 40px 0px;
    float: left;
    text-align: center;
    border-radius: 100%;
}

.aboutMe p {
    text-align: left;
    padding: 0px 25% 0px 25%;
    margin: 30px 0px 30px 0px;
    font-size: 14px;
}

.aboutMe input {
    height: 35px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin-top: 20px;
    margin-right: 14px;
    margin-left: 14px;
}


/*---------Что я умею-------------*/
.mySkills {
    margin-top: 58px;
    width: 100%;
    float: left;
    background: url(../images/back_skills.jpg);
}
.mySkills h2 {
    text-align: center;
    display:inline-block;
    margin: 0px 40% 0px 40%;  /*Костыль*/
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    border-bottom: 4px solid #d17700;
}

.firstSkill {
    display: inline-block;
    position: relative;
}

/*--------------Кейсы-----------------*/

.cases {
    margin-top: 58px;
    width: 100%;
    float: left;
}
.calculateCost{
    margin-top: 58px;
    width: 100%;
    float: left;
}

.statistic{
    margin-top: 58px;
    width: 100%;
    float: left;
}

.myContacts{
    margin-top: 58px;
    width: 100%;
    float: left;
}

footer {
    margin-top: 58px;
    width: 100%;
    float: left;

}