body{
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    width: 100%;
    height: 100%;
    background:#344051;
}

.logo {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    color: white;
    font-size: 29px;
    line-height: 60xp;
    padding-left: 20%;
    
}

.menu {
    position: relative;
    display:inline-block;
    margin-left: 10%;
}

.menu li {
    position: relative;
    display: inline;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}



.helloPage{
    width: 100%;
    height: 100%;
    background: url(../images/vader.png) 100% 100%/auto 70% no-repeat, url(../images/back-ground-title.jpg) center/cover no-repeat ;
    box-shadow: 1px -10px 10px 1px rgba(0, 0, 0, 0.4) inset; 
    position:relative;
    display: block;
    border: 0px solid  rgba(255, 255, 255, 0);
}

.titleConteiner{
    position: relative;
    display: block;
    padding-top: 25%;
    margin: 0% 40% 0px 5%;
    color: #2c384a;
    text-shadow: rgb(138, 138, 138) 1px 1px 10px;
    text-align: center;
}


.titleConteiner h1{
    font-size: 60px;
    position: relative;
    display: block;
    font-weight: bold;
}

.titleConteiner h4{
    font-size: 24px;
    font-weight: 24px;
    margin-top: 4%;
    color: #79819d;
    text-shadow: rgb(138, 138, 138) 1px 1px 10px;
}

.titleConteiner input {
    position: relative;
    display: inline-block;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin-top: 58px;
    margin-right: 14px;
    margin-left: 14px;
}

/*-------Обо мне--------*/
.aboutMe{
    padding-top: 5%;
    float: left;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
}

.aboutMe h2 {
    display:inline-block;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    border-bottom: 4px solid #d17700;
    
}
.imgVader{
    
    width: 100%;
    padding: 0px 43% 0px 43%;
    margin: 40px 0px 40px 0px;
    float: left;
    text-align: center;
    border-radius: 100%;
}

.aboutMe p {
    text-align: left;
    padding: 0px 25% 0px 25%;
    margin: 30px 0px 30px 0px;
    font-size: 14px;
}

.aboutMe input {
    height: 35px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 12px;
    padding: 0px 16px;
    margin-top: 20px;
    margin-right: 14px;
    margin-left: 14px;
}


/*---------Что я умею-------------*/
.mySkills {
    margin-top: 5%;
    padding: 3%;
    width: 100%;
    float: left;
    display: block;
    position: relative;
    

    background: url(../images/back_skills.jpg) center/cover no-repeat;
    
}

.mySkills h2 {
    
    display:block;
    text-align: center;
    margin: 0px 43%;
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    border-bottom: 4px solid #d17700;
}
/*
3 блока 16% (45)
между ними 3%  (6)
слева справа 23% (46)

*/
.skillsPanels{
    display: block;
    position: relative;
    margin: 0 15%;
    font-size: 14px;
    margin-top: 3%;
}


.firstImg{
    height: 50px;
    margin-bottom: 12%;
    
}

.firstSkill {
    display: inline-block;
    position: relative;
    width: 16%;
    text-align: center;
    margin-left: 23%;
    margin-right: 3%;
    

    height:200px;
}

.headerFirstSkill{
    display: block;
    padding: 10px 0;
    height: 30%;
    position: relative;
    color: #d17700;
    font-weight: bold;
    font-size: 18px;
}


.aboutFirstSkill{
    position: relative;
    display: block;
}

.secondSkill {
    display: inline-block;
    position: relative;
    width: 16%;
    text-align: center;
    
    height:200px;
}

.secondImg{
    height: 50px;
    margin-bottom: 12%;
}

.headerSecondSkill{
    display: block;
    padding: 10px 0;
    height: 30%;
    color: #d17700;
    font-weight: bold;
    font-size: 18px;
}

.aboutSecondSkill{
    display: block;
}

.thirdSkill{
    display: inline-block;
    position: absolute;
    width: 16%;
    text-align: center;
    margin-right:23%;
    margin-left:3%;
    
    height:200px;
}

.thirdImg{
    height: 50px;
    margin-bottom: 12%;
}

.headerThirdSkill{
    height: 30%;
    padding: 10px 0;
    display: block;
    color: #d17700;
    font-weight: bold;
    font-size: 18px;
}

.aboutThirdSkill {
    display: block;
    
    
}
/*--------------Кейсы-----------------*/

.cases {
    margin-top: 58px;
    width: 100%;
    float: left;
}

.cases h1 {

    display:block;
    text-align: center;
    margin: 0px 43%;
    position: relative;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0px 0px 10px 0px;
    font-weight: bold;
    border-bottom: 4px solid #d17700;

}
.casesItIs {
    text-align: left;
    padding: 0px 25% 0px 25%;
    margin: 30px 0px 30px 0px;
    font-size: 14px;
}


.casesView{
    padding: 10px auto;
    display: block;
    position: relative;
    
    height: 510px;
}


.imgPatternSite{
    position: absolute;
    
    text-align: center;
    z-index: 1;
    margin: auto 30%;
    
}
.backButton{
    
    position: absolute;
    margin-top: 13%;
    margin-left: 30%;
    z-index: 3;
    color: white;
    text-decoration: none;
    padding: .7em 1em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    font-size: 20px;
}
.nextButton{
    margin-top: 13%;
    margin-left: 68%;
    position:absolute;
    z-index: 3;
    color: white;
    text-decoration: none;
    padding: .7em 1em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
    font-size: 20px;
}

.aboutPattern{
    
    position: relative;
    
    height: 100px;
}

.client {
    margin-top: 2%;
    margin-left: 30%;
    
    position: absolute;
}
.websiteAddress{
    margin-left: 30%;
    
    position: absolute;
}

.aboutWebsite{
    
    margin-left: 40%;
    width: 30%;
    position: absolute;
}

.aboutWebsite h4{
    font-weight: bold;
}



/*Расчет стоимости*/
.calculateCost{
    margin-top: 58px;
    width: 100%;
    float: left;
    display: block;
    position: relative;
    
    width: 40%;
    margin: 1% 30%;
}


.calculateCost select {
    
    width: 100%;
    font-size: 18px;
    height: 35px;
    
    background: #eeeeee;
    border-radius: 5px;
}
.calculateCost h2{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.typeSiteHeader{
    margin: 3% 0 5px 0;
    font-size: 20px;
    text-transform: uppercase;
}

.designHeader{
    font-size: 20px;
    margin: 3% 0 5px 0;
    text-transform: uppercase;
}

.adaptabilityHeader{
    font-size: 20px;
    margin: 3% 0 5px 0;
    text-transform: uppercase;
}

.deadlines{
    margin-top: 10px;
    position: relative;
    display: block;
    height: 30px;
}

.textDeadlines{
    position: absolute;
    
}

.deadlinesValue{
    position: absolute;
width: 100%;
text-align: right;
}
.price{
    position: relative;
    display: block;
    height: 30px;
}

.textPrice{
    position: absolute;
}

.priceValue{
    position: absolute;
    width: 100%;
    text-align: right;
}

.statistic{
    margin-top: 58px;
    width: 100%;
    float: left;
}

.myContacts{
    margin-top: 58px;
    width: 100%;
    float: left;
}

footer {
    margin-top: 58px;
    width: 100%;
    float: left;

}